<!doctype html>
<html>
	<head>
	</head>
	<body>
		<form action="/gradebook" method="POST">
			<input type="text" name="student" placeholder="Enter students first name">
			<input type="submit" value="push">
		</form>
	</body>
</html>